Repository ethereum/kohaku, changes with the owners that .github/CODEOWNERS names for each.
All owners: @lucemans, @nconsigny, @btchip, @rdubois-crypto, @ncitron

Update readme
  README.md
Owners: @lucemans, @nconsigny

Add 'extension' as a submodule
  .gitmodules
Owners: @lucemans, @nconsigny

docs: privacy invariants
  packages/tx/docs/privacy-invariants.md
Owners: @lucemans, @nconsigny

Improve repo setup
  .gitignore
  package.json
  packages/account/package.json
  packages/account/src/index.ts
  packages/extension/package.json
  packages/extension/src/index.ts
  packages/node/package.json
  packages/node/src/index.ts
  packages/tx/package.json
  packages/tx/src/index.ts
  pnpm-lock.yaml
Owners: @lucemans, @nconsigny, @btchip, @rdubois-crypto, @ncitron

Introduce CI, changesets & better tsconfigs
  .changeset/README.md
  .changeset/config.json
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .npmrc
  .prettierrc.json
  eslint.config.mjs
  package.json
  packages/account/package.json
  packages/account/src/index.ts
  packages/account/tsconfig.json
  packages/extension/package.json
  packages/extension/src/index.ts
  packages/extension/tsconfig.json
  packages/node/package.json
  packages/node/src/index.ts
  packages/node/tsconfig.json
  packages/tx/package.json
  packages/tx/src/index.ts
  packages/tx/tsconfig.json
  pnpm-lock.yaml
  tsconfig.base.json
Owners: @lucemans, @nconsigny, @btchip, @rdubois-crypto, @ncitron

Update types
  .github/workflows/release.yml
  packages/account/package.json
  packages/extension/package.json
  packages/node/package.json
  packages/tx/package.json
  tsconfig.base.json
Owners: @lucemans, @nconsigny, @btchip, @rdubois-crypto, @ncitron

Update CI
  .github/workflows/release.yml
Owners: @lucemans, @nconsigny

Introduce viem as peerDependency
  packages/account/package.json
  packages/tx/package.json
  pnpm-lock.yaml
Owners: @btchip, @rdubois-crypto, @lucemans, @nconsigny

Update repo layout
  packages/account/README.md
  packages/account/package.json
  packages/account/src/index.ts
  packages/extension/README.md
  packages/extension/package.json
  packages/extension/src/index.ts
  packages/extension/tsconfig.json
  packages/node/README.md
  packages/node/package.json
  packages/node/src/index.ts
  packages/node/tsconfig.json
  packages/railgun/README.md
  packages/railgun/package.json
  packages/railgun/src/index.ts
  packages/railgun/tsconfig.json
  packages/tx/src/index.ts
  packages/tx/tsconfig.json
Owners: @btchip, @rdubois-crypto, @lucemans, @nconsigny, @ncitron

chore: update readmes
  README.md
  packages/railgun/README.md
  packages/railgun/demo/index.ts
Owners: @lucemans, @nconsigny

feat: improve tx creation interfaces
  packages/railgun/README.md
  packages/railgun/demo/index.ts
  packages/railgun/src/account-utils/railgun-account.ts
Owners: @lucemans, @nconsigny

chore: clean up
  packages/railgun/README.md
  packages/railgun/demo/cached_sepolia.json
  packages/railgun/demo/index.ts
  packages/railgun/src/account-utils/railgun-account.ts
Owners: @lucemans, @nconsigny

Update CI
  .github/workflows/ci.yml
  README.md
Owners: @lucemans, @nconsigny

Update TS
  packages/railgun/package.json
  packages/railgun/src/account-utils/index.ts
  packages/railgun/src/account-utils/railgun-account.ts
  packages/railgun/src/index.ts
  packages/railgun/src/railgun-lib/note/memo.ts
  packages/railgun/src/railgun-lib/note/shield-note.ts
  packages/railgun/src/railgun-logic/logic/note.ts
  pnpm-lock.yaml
  tsconfig.base.json
Owners: @lucemans, @nconsigny

feat: remove reliance on provider everywhere
  packages/railgun/demo/cached_sepolia.json
  packages/railgun/demo/index.ts
  packages/railgun/src/account-utils/index.ts
  packages/railgun/src/account-utils/railgun-account.ts
Owners: @lucemans, @nconsigny

chore: update cache
  packages/railgun/demo/cached_sepolia.json
Owners: @lucemans, @nconsigny

chore: make const
  packages/railgun/demo/index.ts
Owners: @lucemans, @nconsigny

feat: process logs for multiple merkle trees
  packages/railgun/src/account-utils/railgun-account.ts
  packages/railgun/src/railgun-logic/logic/merkletree.ts
  packages/railgun/src/railgun-logic/logic/wallet.ts
Owners: @lucemans, @nconsigny

chore: clean up, update cache
  packages/railgun/demo/cached_sepolia.json
  packages/railgun/demo/index.ts
  packages/railgun/src/account-utils/railgun-account.ts
Owners: @lucemans, @nconsigny

chore: remove console log
  packages/railgun/src/account-utils/railgun-account.ts
Owners: @lucemans, @nconsigny

feat: restructure log processing to be more efficient
  packages/railgun/demo/cached_sepolia.json
  packages/railgun/demo/index.ts
  packages/railgun/src/account-utils/railgun-account.ts
  packages/railgun/src/railgun-logic/logic/merkletree.ts
  packages/railgun/src/railgun-logic/logic/wallet.ts
Owners: @lucemans, @nconsigny

chore: add getLatestMerkleRoot
  packages/railgun/demo/cached_sepolia.json
  packages/railgun/demo/index.ts
  packages/railgun/src/account-utils/railgun-account.ts
Owners: @lucemans, @nconsigny

chore: handle nullifiers properly
  packages/railgun/src/account-utils/railgun-account.ts
Owners: @lucemans, @nconsigny

feat: remove provider reliance (#3)
  packages/railgun/demo/cached_sepolia.json
  packages/railgun/demo/index.ts
  packages/railgun/src/account-utils/index.ts
  packages/railgun/src/account-utils/railgun-account.ts
Owners: @lucemans, @nconsigny

chore: handle infura provider error
  packages/railgun/demo/cached_sepolia.json
  packages/railgun/demo/index.ts
  packages/railgun/src/account-utils/railgun-account.ts
Owners: @lucemans, @nconsigny

chore: use getLatestMerkleRoot over getMerkleRoot
  packages/railgun/demo/index.ts
Owners: @lucemans, @nconsigny

feat: multi merkle tree (#4)
  packages/railgun/demo/cached_sepolia.json
  packages/railgun/demo/index.ts
  packages/railgun/src/account-utils/railgun-account.ts
  packages/railgun/src/railgun-logic/logic/merkletree.ts
  packages/railgun/src/railgun-logic/logic/wallet.ts
Owners: @lucemans, @nconsigny

Setup docs
  .github/workflows/docs.yml
  .npmrc
  docs/README.md
  docs/package.json
  docs/pages/getting-started.mdx
  docs/pages/index.mdx
  docs/pages/practices.mdx
  docs/pages/privacy-pools/accounts.mdx
  docs/pages/privacy-pools/intro.mdx
  docs/pages/privacy-pools/ppoi.mdx
  docs/pages/privacy-pools/shielding.mdx
  docs/pages/privacy-pools/txs.mdx
  docs/pages/privacy.mdx
  docs/pages/railgun/accounts.mdx
  docs/pages/railgun/intro.mdx
  docs/pages/railgun/ppoi.mdx
  docs/pages/railgun/shielding.mdx
  docs/pages/railgun/txs.mdx
  docs/pages/tornado/intro.mdx
  docs/pages/tornado/notes.mdx
  docs/pages/tornado/txs.mdx
  docs/tsconfig.json
  docs/vocs.config.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Owners: @lucemans, @nconsigny

Update CI
  .github/workflows/docs.yml
Owners: @lucemans, @nconsigny

Update CI
  .github/workflows/docs.yml
Owners: @lucemans, @nconsigny

Update docs basePath
  docs/vocs.config.ts
Owners: @lucemans, @nconsigny

Lint Railgun
  packages/railgun/package.json
  packages/railgun/src/account-utils/railgun-account.ts
  packages/railgun/src/railgun-lib/contracts/railgun-smart-wallet/V2/V2-events.ts
  packages/railgun/src/railgun-lib/contracts/railgun-smart-wallet/V2/railgun-smart-wallet.ts
  packages/railgun/src/railgun-lib/contracts/railgun-smart-wallet/V3/poseidon-merkle-accumulator.ts
  packages/railgun/src/railgun-lib/utils/ethers.ts
  packages/railgun/src/railgun-logic/global/crypto.ts
  packages/railgun/src/types/global.d.ts
  pnpm-lock.yaml
Owners: @lucemans, @nconsigny

.github/CODEOWNERS:

# Coordination
* @lucemans @nconsigny

# Privacy Extension
packages/extension @lucemans @nconsigny
# Privacy Send/Receive
packages/tx @kassandraoftroy @skeletor-spaceman 0xparti @0xtiti @0xmoebius
# Privacy Account
packages/account @btchip @rdubois-crypto
# Privacy RPC
packages/node @ncitron

.github/CODEOWNERS @lucemans @nconsigny
